.button {
    width: 100%;

    &_wrapper {
        //小技巧
        padding: 16px 16px;
    }
}

.button_wrapper .pig {
    width: 128px;
    height: 128px;

    &_wrapper {
        padding: 160px 0;
    }
}